.your-code {
  margin-top: 40px;
  border: 2px solid darkmagenta;
}

.active {
  background-color: #0c5460;
}

#tab{
  font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#tab td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tab tr:hover{background-color: #ddd;}
#tab th{
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: blueviolet;
  color: white;

}
